@use 'default/_vars' as v;

.eapps-instagram-feed-content {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    border-radius: 23px;
}

p {
    text-align: justify;
}

.eapps-instagram-feed-posts-slider {
    border-radius: 0 0 23px 23px;
}

.eapps-instagram-feed-header.es-header {
    border-radius: 23px 23px 0 0;
}

#eapps-instagram-feed-1 a[rel=noreferrer] {
    display: none;
}

.insta {
    position: relative;
    .hidden {
        display: block;
        position: absolute;
        height: 50px;
        background-color: #fff;
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 999999;
    }
}

.header-area {
    background-color: v.$color-primary;
    z-index: 99999999;
}

.font.icon {
    font-size: 24px;
    padding: 18px;
    width: 60px;
    height: 60px !important;
    background-color: v.$color-primary;
    color: v.$color-secondary;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
}

.whatsapp {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#25d366;
    text-align: center;
    padding: 15px;
    transition: all 0.5s;
    z-index: 99999999;
    i {
        color: #fff;
        font-size: 50px;
    }
    &:hover {
        transform: translateY(-5px);
    }
}

span.error {
    font-size: 11px;
    color: red;
    display: block;
    text-align: left;
    padding-left: 5px;
}

body {
    .no-display {
        display: none !important;
    }
}

.msg-success, .msg-error {
    position: fixed;
    top: 100px;
    width: 100%;
    span {
        text-align: center;
        max-width: 310px;
        display: block;
        border-radius: 23px;
        padding: 10px;
        box-sizing: border-box;
        color: white;
        font-weight: 700;
        margin: 0 auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    }
}

.msg-success span {
    background-color: #25d366;
}

.msg-error span{
    background-color: red;
}

.fill-form {
    .info-post, .icon {
        height: 100%;
    }
}

#form-submit {
    position: relative;
    z-index: 3;
    .label {
        display: block;
    }
    .preloader-inner {
        display: none;
    }
}

#form-submit:disabled{
    .label {
        display: none;
    }
    .preloader-inner {
        background-color: transparent;
        height: 22.5px;
        display: flex;
        margin: 0 auto;
        .dot {
            top: 6px;
            width: 10px;
            height: 10px;
        }
        .dots {
            margin-top: 6px;
            span {
                width: 10px;
                height: 10px;
            }
        }
    }
    &:hover, &:focus {
        background-color: #fff !important;
    }
}

.area-text {
    height: 100%;
}

footer p {
    font-size: 11px;
}

@media (max-width: 767px) {
    p {
        text-align: center;
    }
    .free-quote .section-heading h4 {
        font-size: 26px;
    }
    .fill-form {
        padding: 0;
         & > .row .col-lg-4{
            margin-bottom: 20px;
         }
    }
    #map {
        display: none;
    }
}

@media (max-width: 767px) {
    p {
        text-align: center;
    }
    .free-quote .section-heading h4 {
        font-size: 26px;
    }
    .whatsapp {
        height: 60px;
        width: 60px;
        padding: 13px;
        i {
            font-size: 35px;
        }
    }
}

@media (max-width: 992px) {
    .fill-form {
        padding: 0;
         & > .row .col-lg-4{
            margin-bottom: 20px;
         }
    }
    #map {
        display: none;
    }
}

@media (min-width: 768px) {
    .eapps-instagram-feed-popup-wrapper {
        top: 100px !important;
    }
}
